<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>\\TopFashion\AutoUpdate\Test\AutoUpdate.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="KellAutoUpdater.dll" lastver="1.0.0.0" size="33792" />
    <LocalFile path="Test.exe" lastver="1.0.0.0" size="8192" />
  </UpdateFileList>
</Config>